.gradient-background {
    background: linear-gradient(300deg, #FFE6E6, #E1AFD1, #AD88C6, #7469B6);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}
.nav-masthead .nav-link {
    color: rgba(255, 255, 255, .5);
    border-bottom: .25rem solid transparent;
}

.navbar{
  width:100%;
  height:10rem;
}

.profile-img {
  height: 150px;
  border-radius: 50%;
}

.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

#name{
  font-family: cursive;
}

h3{
	font-size: 1.5rem;
}

h4{
	font-size: medium;
	text-indent: 10px;
	margin-top: 20px;
	color:#AD88C6;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}
